body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    box-sizing: content-box;
  } 
  .calc-container {
    display: grid;
    grid-template-columns: repeat(3, 34%);
    grid-gap: 10px;
  }
  .calc-container > .calc-keypad {
    padding: 8px;
    text-align: center;
    font-size: 18px;
    border: 2px solid gray;
  }
  .calc-title {
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .calc-master-container {
    max-width: 228px;
    max-height: 100%;
    width: 100%;
  }
  .calc-result {
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    text-align: right;
  }